# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Build output
/bin/
/build/
*.class

# Visual Studio Code files
.settings
.vscode

# Native Libraries
*.a
*.o
*.so
*.dll
*.lib
*.dylib

# Archives
*.zip
*.tar.gz

# VM Crash Logs
hs_err_pid*.log
